[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pytesseract = "*"
numpy = "*"
pandas = "*"
opencv-python = "*"
pytest = "*"
matplotlib = "*"
importlib-resources = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
